.inner {
    position: relative;
    display: block;
    width: 1470px !important;
    height: inherit;
    margin: 0 auto;
}

/*
Breadcrumbs
---------------------------------------------------------------
*/

nav.breadcrumbs { 
    display: inline-block;
    width: 100%;
    margin: 10px 0 0;
}

nav.breadcrumbs ul { 
    list-style: none;
    padding: 0;
    margin: 0;
}

nav.breadcrumbs ul li { 
    display: inline;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
    margin-right: 2px;
}

nav.breadcrumbs ul li a { 
    color: #969696;
}

nav.breadcrumbs ul li a:hover {
    color: #374898;
}