.inner {
    position: relative;
    display: block;
    width: 1470px !important;
    height: inherit;
    margin: 0 auto;
}

/*
Breadcrumbs
---------------------------------------------------------------
*/

nav.breadcrumbs { 
    display: inline-block;
    width: 100%;
    margin: 10px 0 0;
}

nav.breadcrumbs ul { 
    list-style: none;
    padding: 0;
    margin: 0;
}

nav.breadcrumbs ul li { 
    display: inline;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
    margin-right: 2px;
}

nav.breadcrumbs ul li a { 
    color: #969696;
}

nav.breadcrumbs ul li a:hover {
    color: #374898;
}

/*
Catalog Item Detail
---------------------------------------------------------------
*/

.catalog-item-detail { 

}

.catalog-item-detail .image { 

}

.catalog-item-detail .image .iamge-holder { 

}

.catalog-item-detail .image .iamge-holder .images-gallery { 

}

.catalog-item-detail .image .iamge-holder .images-gallery .image-full-view { 

}

.catalog-item-detail .image .iamge-holder .images-gallery .image-full-view .image-full-view-holder { 

}

.catalog-item-detail .image .iamge-holder .images-gallery .image-full-view .image-full-view-holder .image { 

}

.catalog-item-detail .image .iamge-holder .images-gallery .image-full-view .image-full-view-holder .image .image-holder { 

}

.catalog-item-detail .image .iamge-holder .images-gallery .image-full-view .image-full-view-holder .image .image-holder img { 

}

.catalog-item-detail .image .iamge-holder .images-gallery .images-previews { 

}

.catalog-item-detail .image .iamge-holder .images-gallery .images-previews .images-previews-holder { 

}

.catalog-item-detail .image .iamge-holder .images-gallery .images-previews .images-previews-holder .preview { 

}

.catalog-item-detail .image .iamge-holder .images-gallery .images-previews .images-previews-holder .preview .preview-holder { 

}

.catalog-item-detail .image .iamge-holder .images-gallery .images-previews .images-previews-holder .preview .preview-holder a { 

}

.catalog-item-detail .image .iamge-holder .images-gallery .images-previews .images-previews-holder .preview .preview-holder a img { 

}

.catalog-item-detail .about-item { 

}

.catalog-item-detail .about-item .about-item-holder { 

}

.catalog-item-detail .about-item .about-item-holder .name { 

}

.catalog-item-detail .about-item .about-item-holder .name h1 { 

}

.catalog-item-detail .about-item .about-item-holder .price { 

}

.catalog-item-detail .about-item .about-item-holder .order { 

}

.catalog-item-detail .about-item .about-item-holder .order .action { 

}

.catalog-item-detail .about-item .about-item-holder .order .action .btn { 

}

.catalog-item-detail .about-item .about-item-holder .stats-block { 

}

.catalog-item-detail .about-item .about-item-holder .stats-block .stats-block-holder { 

}

.catalog-item-detail .about-item .about-item-holder .stats-block .stats-block-holder .heading { 

}

.catalog-item-detail .about-item .about-item-holder .stats-block .stats-block-holder .heading h2 { 

}

.catalog-item-detail .about-item .about-item-holder .stats-block .stats-block-holder .stats { 

}

.catalog-item-detail .about-item .about-item-holder .stats-block .stats-block-holder .stats .stat { 

}

.catalog-item-detail .about-item .about-item-holder .stats-block .stats-block-holder .stats .stat .name { 

}

.catalog-item-detail .about-item .about-item-holder .stats-block .stats-block-holder .stats .stat .line { 

}

.catalog-item-detail .about-item .about-item-holder .stats-block .stats-block-holder .stats .stat .value { 

}
